.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #ccc;
}
.sidebar-content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
}
.sidebar-menu-container {
  overflow-x: hidden;
  padding: 0.5rem;
  flex-grow: 1;
}
.sidebar-menu-container::-webkit-scrollbar {
  width: 0.45rem;
  margin-right: -1px;
  background-color: #f8f9fa;
}
.sidebar-menu-container::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
.sidebar-menu-container::-webkit-scrollbar-thumb {
  background-color: #6c757d;
}
.sidebar-menu-container a {
  padding: 0.5rem 1rem;
  display: flex;
  cursor: pointer;
  color: unset;
  text-decoration: none;
  user-select: none;
}
.sidebar-menu-container a:hover {
  background-color: #ededed;
}
.sidebar-menu-container .active {
  background-color: #ededed;
}
.sidebar-menu {
  margin: 0;
  padding: 0 0 0 0.75rem;
  list-style: none;
}
.sidebar-menu .sidebar-menu {
  padding-left: 0.75rem;
}
.sidebar-menu li {
  margin: 0.25rem 0;
}

.main-container {
  margin-left: 300px;
}
.main {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.content {
  padding: 0 0.5rem;
}
.content-title {
  font-size: 3rem;
}

.md {
  margin-top: 1.5rem;
  word-wrap: break-word;
}
.md p code {
  margin: 0;
  padding: 0.25rem 0.4rem;
  background-color: #eaedef;
  border-radius: 6px;
  color: #212529;
  font-size: 85%;
}
.md table code {
  margin: 0;
  padding: 0.25rem 0.4rem;
  background-color: #eaedef;
  border-radius: 6px;
  color: #212529;
  font-size: 85%;
}

.md-table {
  width: 100%;
  margin: 1rem 0;
  display: block;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.md-table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.md-table th {
  padding: 0.5rem 1rem;
  border: 1px solid #c6cbd1;
  font-weight: 600;
}
.md-table td {
  padding: 0.5rem 1rem;
  border: 1px solid #c6cbd1;
}

.toc-container {
  position: sticky;
  top: 3rem;
  border-left: 1px solid #ccc;
}
.toc {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  list-style-type: none;
}
.toc li {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.toc a {
  color: #495057;
  text-decoration: none;
}
.toc-h2 {
  padding-left: 0.5rem;
}
.toc-h3 {
  padding-left: 1rem;
}
.toc-h4 {
  padding-left: 1.5rem;
}
.toc-h5 {
  padding-left: 2rem;
}
.toc-h6 {
  padding-left: 2.5rem;
}

@media (min-width: 1440px) {
  .main {
    width: 1320px;
  }
}

.adm-hidden {
  display: none;
}
.adm-block {
  margin: 1rem 0;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0.025rem 0.05rem rgb(0 0 0 / 5%);
}
.adm-heading {
  padding: 0.5rem;
}
.adm-heading span {
  font-weight: bold;
}
.adm-icon {
  width: 2.5rem;
  height: 1.25rem;
}
.adm-body {
  padding: 0.5rem;
}
.adm-body p {
  margin: 0.5rem;
}

.adm-danger {
  border-left: 0.2rem solid #ff1744;
}
.adm-danger .adm-heading {
  background-color: #ffe7ec;
}
.adm-danger .adm-icon {
  color: #ff1744;
}

.adm-info {
  border-left: 0.2rem solid #00b8d4;
}
.adm-info .adm-heading {
  background-color: #e5f8fb;
}
.adm-info .adm-icon {
  color: #00b8d4;
}

.adm-note {
  border-left: 0.2rem solid #448aff;
}
.adm-note .adm-heading {
  background-color: #ecf3ff;
}
.adm-note .adm-icon {
  color: #448aff;
}
