html, body {
  height: 100%
}

.sidebar {
  width: 300px;
  height: 100%;
  border-right: 1px solid #ccc;
}
.sidebar-content {
  position: sticky;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar-menu-container {
  overflow-x: hidden;
  padding: 0.5rem;
  flex-grow: 1;
}
.sidebar-menu-container::-webkit-scrollbar {
  width: 0.45rem;
  margin-right: -1px;
  background-color: #f8f9fa;
}
.sidebar-menu-container::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
.sidebar-menu-container::-webkit-scrollbar-thumb {
  background-color: #6c757d;
}
.sidebar-menu-container a {
  padding: 0.5rem 1rem;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}
.sidebar-menu-container a:hover {
  background-color: #ededed;
}
.sidebar-menu-container .active {
  background-color: #ededed;
}
.sidebar-menu {
  margin: 0;
  padding: 0 0 0 0.75rem;
  list-style: none;
}
.sidebar-menu .sidebar-menu {
  padding-left: 0.75rem;
}
.sidebar-menu li {
  margin: 0.25rem 0;
}
